.banner-input {
    position: relative;
    width: 70%;
}

.banner-input-text {
    min-width: 700px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    position: relative;
    height: 65px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;

    /* width: 100%; */
}

.banner-button {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: -182px;
    top: 0;
}

.banner-button-container {
    background-color: transparent;
    padding-right: 10px;
}

.baneer-button {
    padding: 14px 32px;
    background-color: #0064fa;
    border-radius: 30px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.try-demo{
    color: white;
    font-weight: bold;
    text-decoration: none;
}